.movie-card {
    width: 240px;
    height: 360px;
    border: 1px solid white;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.movie-card img {
    width: 100% !important;
    transition: all .2s;
}

.movie-card:hover img {
    scale: 1.1;
}

.fav-icon {
    display: none;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 32px;
    background-color: rgba(38, 38, 38, 0.475);
    height: 38px;
    width: 38px;
    padding: 0 10px;
    padding-bottom: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.movie-card:hover .fav-icon {
    display: block;
}

.fav-icon:hover {
    color: red;
}