.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-component {
    margin-top: 42px;
}

.search-component input {
    background-color: #000;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 12px;
}

.search-component button {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.search-component button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.movies-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    gap: 24px;
    padding: 24px 0;
}