.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-component {
    margin-top: 42px;
}

.search-component input {
    background-color: #000;
    outline: none;
    border: 1px solid #27272a;
    color: grey;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 12px;
}

.search-component button {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.search-component button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #27272a;
}